In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("/Users/rohansingh/Jupyter Notebooks/Data/Courses.csv")
df.head()

,Course Name,Course Code,Credits,Department
0,Introduction to Java,CSDS 132,3,Department of Computer Science and Data Science
1,Data Structures,CSDS 233,4,Department of Computer Science and Data Science
2,Logic Design,CSDS 281,4,Department of Computer Science and Data Science
3,Software Craftsmanship,CSDS 293,4,Department of Computer Science and Data Science
4,Discrete Mathematics,CSDS 302,3,Department of Computer Science and Data Science