In [1]:
# Source code for K-means clustering

#Getting imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as mtp

#this is used to get the iris data
df = pd.read_csv("/Users/rohansingh/Documents/CSDS 391/AI_Code/Machine Learning/Classification/irisdata.csv")

In [2]:
#Converting df to a 4 numpy arrays:
s_len = df["sepal_length"]
s_wid = df["sepal_width"]
p_len = df["petal_length"]
p_wid = df["petal_width"]

s_len = s_len.to_numpy()
s_wid = s_wid.to_numpy()
p_len = p_len.to_numpy()
p_wid = p_wid.to_numpy()

In [3]:
# Helper function to get the euclidean distance 
def euc_dist(i, j):
    dist_sum = 0
    dist_sum += np.power((s_len[i]-s_len[j]),2)
    dist_sum += np.power((s_wid[i]-s_wid[j]),2)
    dist_sum += np.power((p_len[i]-p_len[j]),2)
    dist_sum += np.power((p_wid[i]-p_wid[j]),2)
    return np.sqrt(dist_sum)

In [4]:
#Helper function for the objective function
def obj_funct_classifier(i,centroids,cluster):
    cl = 0
    dist = 10000000
    for j in range (0,len(centroids),1):
        new_dist = euc_dist(i,centroids[j])
        if(new_dist < dist):
            dist = new_dist
            cl = j
    cluster[i] = cl
    return dist

In [5]:
centroids = np.array([10,78,130])

In [6]:
species_code = ["setosa","versicolor","virginica"]

species = df["species"]
species = species.to_list()

ls = []
for i in range (0,len(species),1):
    for j in range(0, len(species_code),1):
        if(species[i] == species_code[j]):
            ls.append(j)

df["species"] = ls
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [7]:
clusters = []
for i in range(0,150,1):
    clusters.append("-")

In [8]:
for i in range (0,150,1):
    obj_funct_classifier(i,centroids,clusters)

species = df["species"]
species = species.to_list()

err = 0
for i in range(0,150,1):
    if(species[i] == 0):
        if(species[i] != clusters[i]):
            err += 1
    if(clusters[i] == 0):
        if(species[i] != clusters[i]):
            err += 1
        
err

0

In [9]:
def objectiveFunction(centroids,clusters):
    val = 0
    x = 0
    for i in range (0,len(clusters),1):
        x = obj_funct_classifier(i,centroids,clusters)
        val += x

In [10]:
from collections import defaultdict

In [15]:
ctroids = defaultdict(int)
ctroids

defaultdict(int, {})

In [17]:
from collections import defaultdict


class KMeans:
    
    def __init__(self,data,k,max_ite):
        self.data=data
        self.k=k
        self.max_ite=max_ite
        
    def predict(self):

        centroids = defaultdict(int)
        
        K=self.k
        max_iter=self.max_ite
        
        for i in range(K):
            centroids[i] = self.data[i]



        r=0


        for i in range(max_iter):
            r=r+1
            classes=defaultdict(list)
            
            for key in range(K):
                classes[key]=[]
            for datapoint in self.data:
                distance=[]
                for j in range(K):

                    dis=euclidean_dis(datapoint,centroids[j])

                    distance.append(dis)
                mindis=min(distance)

                index=distance.index(mindis)
                classes[index].append(datapoint)
                old_centroid=dict(centroids)

            for t in range(K):
                class_=classes[t]


                new_centroid=np.mean(class_,axis=0)
                centroids[t]=new_centroid
            flg=1
            for t in range(K):

                a=centroids[t]
                b=old_centroid[t]
                if np.sum((a - b)/b * 100) > 0.001:
                    flg = 0



            if flg==1:
                break


        return classes,centroids

In [18]:
kmeans=KMeans(iris.data[:,:4],clusters,10000)

classes,centroids=kmeans.predict()


for i in range(0,3):
    classes[i]=np.array(classes[i]).tolist()
    
for i in range(0,3):
    print(len(classes[i]))
print(centroids)

39
61
50
defaultdict(<class 'int'>, {0: array([6.85384615, 3.07692308, 5.71538462, 2.05384615]), 1: array([5.88360656, 2.74098361, 4.38852459, 1.43442623]), 2: array([5.006, 3.428, 1.462, 0.246])})

In [16]:
import random

In [23]:
s_len = s_len.tolist()
random.sample(s_len,k=3)

[5.8, 6.7, 5.5]